.feature-box {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.icon-circle {
  width: 83px;
  height: 83px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

/* Icon specific colors */
.icon-circle.box-purple {
  background-color: #F1EAFF;
}

/* Web App */
.icon-circle.box-green {
  background-color: #ECFFDA;
}

/* SEO */
.icon-circle.box-blue {
  background-color: #EBF2FF;
}

/* AR/VR */
.icon-circle.box-orange {
  background-color: #FFF0E6;
}

.feature-text h6 {
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
  line-height: 175%;

}

.feature-text p {
  font-weight: var(--font-weight-base);
  font-size: 15px;
  line-height: 175%;
  color: var(--gray-light);
}